.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#fullscreen {
  height: 85vh;
}

#leftSideBar {
  display: flex;
  background: #2a2726;
  width: 20%;
  height: 100%;
  justify-content: center;
  float: left;
}

#chatContainer {
  display: block;
  background: black;
  width: 80%;
  margin-left: 5%;
  height: 100%;
  justify-content: center;
  float: right;

}

#msg1 {
  font-size: 17px;
  font-family: cursive;
  margin-right: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  margin-left: 500px;
  padding: 10px;
  width: 70%;
  background-color: whitesmoke;
  float: right;
  display: block;
  color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}