.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#fullscreen {
  display: flex;
  flex-direction: row;
  justify-content: 'space-between';
}

.information {
  padding: 10px;
}

#leftSideBar {
  display: block;
  background: #C4CBCD;
  width: 20%;
  margin-left: 1%;
  justify-content: center;
  float: left;
}

#chatContainer {
  display: block;
  background: black;
  width: 80%;
  height: 100%;
  justify-content: center;
  float: right;

}

#chatt {
  height: 85vh;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-left: 20px;
  margin-right: 20px;
}

#botWindow {
  flex-wrap: wrap;
  font-size: 17px;
  margin-bottom: 10px;
  border-radius: 5px;
  margin-right: 500px;
  padding: 10px;
  background-color: #E1E1E2;
  color: black;
  float: left;
  display: block;
}

#userWindow {
  flex-wrap: wrap;
  font-size: 17px;
  margin-right: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  margin-left: 500px;
  padding: 10px;
  background-color: #C4CBCD;
  float: right;
  display: block;
  color: black;
}

#msgText {
  margin-left: 65px;
  width: 70%;
  float: left;
  flex: 1 1 0%;
  padding: 10px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 3px;
  margin-right: 10px;
}

#submitBtn {
  padding: 10px;
  border: none;
  border-radius: 3px;
  margin-right: 10px;
  background-color: rgb(91, 155, 213);
  color: white;
  width: 100px;
  cursor: pointer;
}

#chatCont {
  height: '2vh';
}

.radio-buttons {
  background-color: #D9D9D9;
  padding: 5px;
}

.radio-buttons input[type='radio'] {
  display: none;
  /* Hide the default radio button */
}

.radio-buttons label {
  background-color: #D9D9D9;
  padding: 10px 20px;
  border: 1px solid #D9D9D9;
  border-radius: 5px;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}

.radio-buttons input[type='radio']:checked+label {
  background-color: #C4CBCD;
  color: black;
  border-color: #C4CBCD;
}

.inputs label {
  display: block;
  margin-top: 20px;
  margin-bottom: 5px;
  float: left;
}

.inputs input[type='text'] {
  display: block;
  width: 90%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
}

.llm-selection {
  margin: 20px 5px 20px 5px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#loading {
  text-align: center;
  padding: 10px;
  margin-top: 10px;
}

/* Or if you want to use a spinner instead of text */
#loading::after {
  content: '';
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 3px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  border-top-color: #000;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}